# SOC-Level Anomaly Detection (Advanced)
### Scenarios: multi-stage brute force + impossible travel

You will build **SOC-style detections** and produce a concise incident narrative.

In [1]:
import pandas as pd
import numpy as np
from math import radians, sin, cos, asin, sqrt
from datetime import timedelta

In [2]:
df = pd.read_csv(r'C:/Users/kayro/jupyter/Assignments/SOC_Level_Version/soc_auth_activity_advanced.csv')
df['timestamp'] = pd.to_datetime(df['timestamp'])
df = df.sort_values('timestamp').reset_index(drop=True)
df.head()

,timestamp,event_type,user,ip_address,location,country,lat,lon,bytes_out
0,2025-02-14 00:04:42,FILE_READ,alice,104.26.3.2,"New York, US",US,40.71,-74.01,17380
1,2025-02-14 00:05:36,FILE_READ,eva,104.26.3.2,"New York, US",US,40.71,-74.01,47582
2,2025-02-14 00:05:50,FILE_READ,bob,192.168.1.10,"Los Angeles, US",US,34.05,-118.24,29524
3,2025-02-14 00:20:20,FILE_READ,eva,192.168.1.10,"Los Angeles, US",US,34.05,-118.24,40708
4,2025-02-14 00:50:00,AUTH_SUCCESS,admin1,192.168.1.10,"Los Angeles, US",US,34.05,-118.24,0

## Step 1 – Feature Engineering
**Windowed counts · Time deltas · Geo speed**

In [3]:
# --- 1a) Windowed AUTH_FAIL counts (per user+ip, 10-min windows) ---
fail = df[df['event_type'] == 'AUTH_FAIL'].copy().set_index('timestamp')
fail_counts = (
    fail.groupby(['user', 'ip_address'])
    .resample('10min')
    .size()
    .reset_index(name='auth_fail_10m')
)
print('Windowed AUTH_FAIL counts (>0):')
print(fail_counts[fail_counts['auth_fail_10m'] > 0].to_string(index=False))

# --- 1b) Time delta between consecutive events per user ---
df['prev_time'] = df.groupby('user')['timestamp'].shift(1)
df['time_delta_sec'] = (df['timestamp'] - df['prev_time']).dt.total_seconds()
print('\nSample time deltas:')
print(df[df['time_delta_sec'].notna()][['user','timestamp','event_type','time_delta_sec']].head(8).to_string(index=False))

# --- 1c) Geo speed between consecutive AUTH_SUCCESS per user ---
def haversine_km(lat1, lon1, lat2, lon2):
    from math import radians, sin, cos, asin, sqrt
    R = 6371.0
    phi1, phi2 = radians(lat1), radians(lat2)
    dphi, dl = radians(lat2-lat1), radians(lon2-lon1)
    a = sin(dphi/2)**2 + cos(phi1)*cos(phi2)*sin(dl/2)**2
    return 2*R*asin(sqrt(a))

auth = df[df['event_type']=='AUTH_SUCCESS'].copy().sort_values(['user','timestamp'])
auth['prev_lat']   = auth.groupby('user')['lat'].shift(1)
auth['prev_lon']   = auth.groupby('user')['lon'].shift(1)
auth['prev_loc']   = auth.groupby('user')['location'].shift(1)
auth['prev_time_a']= auth.groupby('user')['timestamp'].shift(1)
mask  = auth['prev_time_a'].notna()
auth2 = auth[mask].copy()
auth2['dt_hours']  = (auth2['timestamp'] - auth2['prev_time_a']).dt.total_seconds() / 3600.0
auth2['dist_km']   = auth2.apply(lambda r: haversine_km(r['prev_lat'], r['prev_lon'], r['lat'], r['lon']), axis=1)
auth2['speed_kmh'] = auth2['dist_km'] / auth2['dt_hours'].replace(0, float('nan'))
print('\nGeo speed between consecutive logins:')
print(auth2[['user','prev_loc','location','dt_hours','dist_km','speed_kmh']].to_string(index=False))

Windowed AUTH_FAIL counts (>0):
       user    ip_address           timestamp  auth_fail_10m
     admin1 185.220.101.1 2025-02-14 01:50:00             30
svc_account 198.51.100.77 2025-02-14 04:10:00             28

Sample time deltas:
   user           timestamp   event_type  time_delta_sec
    eva 2025-02-14 00:20:20    FILE_READ           884.0
  alice 2025-02-14 00:53:21 AUTH_SUCCESS          2919.0
    eva 2025-02-14 00:56:30 AUTH_SUCCESS          2170.0
charlie 2025-02-14 01:11:18 AUTH_SUCCESS           373.0
 admin1 2025-02-14 01:29:00 AUTH_SUCCESS          2340.0
 admin1 2025-02-14 01:33:00 AUTH_SUCCESS           240.0
  alice 2025-02-14 01:36:57    FILE_READ          2616.0
  alice 2025-02-14 01:49:42 AUTH_SUCCESS           765.0

Geo speed between consecutive logins:
   user        prev_loc        location  dt_hours     dist_km     speed_kmh
 admin1 Los Angeles, US   Frankfurt, DE  0.650000 9302.605752  14311.701158
 admin1   Frankfurt, DE Los Angeles, US  0.066667 9302.605752 139539.086287
 admin1 Los Angeles, US   Frankfurt, DE  0.533333 9302.605752  17442.385786
  alice Los Angeles, US    New York, US  0.939167 3935.218414   4190.117211
  alice    New York, US    New York, US  0.208056    0.000000      0.000000
  alice    New York, US Los Angeles, US  0.548333 3935.218414   7176.690117
  alice Los Angeles, US    New York, US  1.136389 3935.218414   3462.915251
  alice    New York, US    New York, US  0.013889    0.000000      0.000000
  alice    New York, US    New York, US  0.443611    0.000000      0.000000
  alice    New York, US    New York, US  0.461389    0.000000      0.000000
  alice    New York, US    New York, US  0.538611    0.000000      0.000000
  alice    New York, US    New York, US  0.617500    0.000000      0.000000
  alice    New York, US Los Angeles, US  0.120278 3935.218414  32717.751250
  alice Los Angeles, US    New York, US  0.261667 3935.218414  15039.051265
  alice    New York, US    New York, US  1.748056    0.000000      0.000000
  alice    New York, US    New York, US  2.332222    0.000000      0.000000
  alice    New York, US Los Angeles, US  3.687500 3935.218414   1067.177875
  alice Los Angeles, US    New York, US  1.757222 3935.218414   2239.454045
  alice    New York, US    New York, US  1.970278    0.000000      0.000000
  alice    New York, US    New York, US  0.115000    0.000000      0.000000
  alice    New York, US    New York, US  0.114722    0.000000      0.000000
  alice    New York, US Los Angeles, US  1.953056 3935.218414   2014.903469
  alice Los Angeles, US    New York, US  0.214722 3935.218414  18327.019782
  alice    New York, US Los Angeles, US  0.363333 3935.218414  10830.876370
  alice Los Angeles, US Los Angeles, US  1.123333    0.000000      0.000000
  alice Los Angeles, US Los Angeles, US  0.993333    0.000000      0.000000
    bob    New York, US    New York, US  1.312500    0.000000      0.000000
    bob    New York, US Los Angeles, US  2.171111 3935.218414   1812.536629
    bob Los Angeles, US Los Angeles, US  1.408889    0.000000      0.000000
    bob Los Angeles, US    New York, US  1.124722 3935.218414   3498.835834
    bob    New York, US    New York, US  0.065278    0.000000      0.000000
    bob    New York, US Los Angeles, US  0.442500 3935.218414   8893.148959
    bob Los Angeles, US Los Angeles, US  0.126944    0.000000      0.000000
    bob Los Angeles, US Los Angeles, US  0.270000    0.000000      0.000000
    bob Los Angeles, US Los Angeles, US  0.625833    0.000000      0.000000
    bob Los Angeles, US Los Angeles, US  0.384444    0.000000      0.000000
    bob Los Angeles, US    New York, US  0.432778 3935.218414   9092.930867
    bob    New York, US    New York, US  0.026111    0.000000      0.000000
    bob    New York, US    New York, US  1.361111    0.000000      0.000000
    bob    New York, US Los Angeles, US  0.196944 3935.218414  19981.362893
    bob Los Angeles, US    New York, US  0.355000 3935.218414  11085.122294
    bob    New York, US    New York, US  5.518611    0.000000      0.000000
    bob    New York, US Los Angeles, US  1.670556 3935.218414   2355.634568
    bob Los Angeles, US Los Angeles, US  0.289722    0.000000      0.000000
    bob Los Angeles, US    New York, US  0.172500 3935.218414  22812.860373
    bob    New York, US Los Angeles, US  0.620000 3935.218414   6347.126475
    bob Los Angeles, US    New York, US  0.323611 3935.218414  12160.331581
    bob    New York, US    New York, US  0.569722    0.000000      0.000000
    bob    New York, US Los Angeles, US  1.224167 3935.218414   3214.610005
charlie Los Angeles, US    New York, US  0.103611 3935.218414  37980.660299
charlie    New York, US    New York, US  0.690556    0.000000      0.000000
charlie    New York, US Los Angeles, US  0.191944 3935.218414  20501.861493
charlie Los Angeles, US    New York, US  0.196111 3935.218414  20066.269535
charlie    New York, US    New York, US  0.661667    0.000000      0.000000
charlie    New York, US Los Angeles, US  3.260278 3935.218414   1207.019365
charlie Los Angeles, US Los Angeles, US  2.836944    0.000000      0.000000
charlie Los Angeles, US    New York, US  0.410833 3935.218414   9578.624943
charlie    New York, US Los Angeles, US  0.207222 3935.218414  18990.330149
charlie Los Angeles, US Los Angeles, US  0.758889    0.000000      0.000000
charlie Los Angeles, US Los Angeles, US  3.379167    0.000000      0.000000
charlie Los Angeles, US    New York, US  0.798056 3935.218414   4931.008107
charlie    New York, US Los Angeles, US  1.275556 3935.218414   3085.101544
charlie Los Angeles, US    New York, US  0.461944 3935.218414   8518.813164
charlie    New York, US Los Angeles, US  0.201944 3935.218414  19486.638640
charlie Los Angeles, US Los Angeles, US  0.290278    0.000000      0.000000
charlie Los Angeles, US    New York, US  0.193889 3935.218414  20296.255432
charlie    New York, US Los Angeles, US  0.013333 3935.218414 295141.381071
charlie Los Angeles, US Los Angeles, US  1.102500    0.000000      0.000000
charlie Los Angeles, US Los Angeles, US  1.275556    0.000000      0.000000
charlie Los Angeles, US    New York, US  0.747222 3935.218414   5266.463305
charlie    New York, US    New York, US  0.279722    0.000000      0.000000
charlie    New York, US    New York, US  0.281111    0.000000      0.000000
charlie    New York, US Los Angeles, US  1.777778 3935.218414   2213.560358
    eva    New York, US    New York, US  1.649722    0.000000      0.000000
    eva    New York, US Los Angeles, US  1.801389 3935.218414   2184.546845
    eva Los Angeles, US    New York, US  0.907222 3935.218414   4337.656550
    eva    New York, US    New York, US  2.986389    0.000000      0.000000
    eva    New York, US    New York, US  0.651667    0.000000      0.000000
    eva    New York, US    New York, US  0.810000    0.000000      0.000000
    eva    New York, US    New York, US  2.170278    0.000000      0.000000
    eva    New York, US Los Angeles, US  0.788611 3935.218414   4990.062096
    eva Los Angeles, US Los Angeles, US  0.320278    0.000000      0.000000
    eva Los Angeles, US Los Angeles, US  1.696389    0.000000      0.000000
    eva Los Angeles, US Los Angeles, US  3.760278    0.000000      0.000000
    eva Los Angeles, US Los Angeles, US  0.325833    0.000000      0.000000
    eva Los Angeles, US Los Angeles, US  0.637500    0.000000      0.000000
    eva Los Angeles, US    New York, US  0.218889 3935.218414  17978.155192
    eva    New York, US Los Angeles, US  0.938611 3935.218414   4192.597304
    eva Los Angeles, US    New York, US  0.415833 3935.218414   9463.451096
    eva    New York, US Los Angeles, US  0.398889 3935.218414   9865.450064
    eva Los Angeles, US    New York, US  0.651944 3935.218414   6036.125390
    eva    New York, US Los Angeles, US  0.106389 3935.218414  36988.998150
    eva Los Angeles, US    New York, US  0.641389 3935.218414   6135.463963

C:\Users\kayro\AppData\Local\Temp\ipykernel_39500\651242247.py:6: FutureWarning: DataFrameGroupBy.resample operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .size()

## 1) Detection A – Multi-Stage Brute Force Chain

In [4]:
# Windowed counts of AUTH_FAIL per (user, ip) over 10 minutes
fail = df[df['event_type'] == 'AUTH_FAIL'].copy().set_index('timestamp')
counts = fail.groupby(['user','ip_address']).resample('10min').size().reset_index(name='auth_fail_10m')
susp_fail = counts[counts['auth_fail_10m'] >= 25]
susp_fail.head()

C:\Users\kayro\AppData\Local\Temp\ipykernel_39500\3984952652.py:3: FutureWarning: DataFrameGroupBy.resample operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  counts = fail.groupby(['user','ip_address']).resample('10min').size().reset_index(name='auth_fail_10m')

          user     ip_address           timestamp  auth_fail_10m
0       admin1  185.220.101.1 2025-02-14 01:50:00             30
1  svc_account  198.51.100.77 2025-02-14 04:10:00             28

In [5]:
# TODO: For each suspicious window, check if AUTH_SUCCESS occurs soon after
# Build an alerts table with evidence.
alerts = []

def add(alert_type, severity, user, ip, start, end, evidence):
    alerts.append({
        'alert_type': alert_type,
        'severity': severity,
        'user': user,
        'ip_address': ip,
        'start_time': start,
        'end_time': end,
        'evidence': evidence
    })

for _, r in susp_fail.iterrows():
    user, ip, st = r['user'], r['ip_address'], r['timestamp']
    window_end = st + pd.Timedelta('10min')
    # Look 30 minutes after for success
    after = df[(df['user']==user) & (df['ip_address']==ip) & (df['timestamp']>=st) & (df['timestamp']<=st+pd.Timedelta('40min'))]
    if (after['event_type']=='AUTH_SUCCESS').any():
        add('BRUTE_FORCE_THEN_SUCCESS','CRITICAL',user,ip,st,window_end,
            evidence=f"{int(r['auth_fail_10m'])} AUTH_FAIL in 10m, then AUTH_SUCCESS within 40m")

pd.DataFrame(alerts).head()

,alert_type,severity,user,ip_address,start_time,end_time,evidence
0,BRUTE_FORCE_THEN_SUCCESS,CRITICAL,admin1,185.220.101.1,2025-02-14 01:50:00,2025-02-14 02:00:00,"30 AUTH_FAIL in 10m, then AUTH_SUCCESS within 40m"
1,BRUTE_FORCE_THEN_SUCCESS,CRITICAL,svc_account,198.51.100.77,2025-02-14 04:10:00,2025-02-14 04:20:00,"28 AUTH_FAIL in 10m, then AUTH_SUCCESS within 40m"

## 2) Detection B – Privilege Escalation After Suspicious Auth

In [6]:
# Detection B: PRIV_ESCALATION within 30 min after a CRITICAL brute force alert
critical_alerts = [a for a in alerts if a['severity'] == 'CRITICAL']

for a in critical_alerts:
    user        = a['user']
    after_start = a['start_time']
    after_end   = after_start + pd.Timedelta('30min')

    priv = df[
        (df['user'] == user) &
        (df['event_type'] == 'PRIV_ESCALATION') &
        (df['timestamp'] >= after_start) &
        (df['timestamp'] <= after_end)
    ]

    for _, r in priv.iterrows():
        add('PRIV_ESC_AFTER_BRUTE_FORCE', 'CRITICAL',
            user, r['ip_address'],
            r['timestamp'], r['timestamp'],
            evidence=f"PRIV_ESCALATION at {r['location']} within 30m of brute force")

pd.DataFrame(alerts).tail()

,alert_type,severity,user,ip_address,start_time,end_time,evidence
0,BRUTE_FORCE_THEN_SUCCESS,CRITICAL,admin1,185.220.101.1,2025-02-14 01:50:00,2025-02-14 02:00:00,"30 AUTH_FAIL in 10m, then AUTH_SUCCESS within 40m"
1,BRUTE_FORCE_THEN_SUCCESS,CRITICAL,svc_account,198.51.100.77,2025-02-14 04:10:00,2025-02-14 04:20:00,"28 AUTH_FAIL in 10m, then AUTH_SUCCESS within 40m"
2,PRIV_ESC_AFTER_BRUTE_FORCE,CRITICAL,admin1,185.220.101.1,2025-02-14 02:10:00,2025-02-14 02:10:00,"PRIV_ESCALATION at Frankfurt, DE within 30m of..."

## 3) Detection C – Impossible Travel

In [7]:
def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    phi1, phi2 = radians(lat1), radians(lat2)
    dphi = radians(lat2-lat1)
    dl = radians(lon2-lon1)
    a = sin(dphi/2)**2 + cos(phi1)*cos(phi2)*sin(dl/2)**2
    return 2*R*asin(sqrt(a))

# Compute consecutive successful auths per user and estimate travel speed
auth = df[df['event_type']=='AUTH_SUCCESS'].copy().sort_values(['user','timestamp'])
auth['prev_time'] = auth.groupby('user')['timestamp'].shift(1)
auth['prev_lat'] = auth.groupby('user')['lat'].shift(1)
auth['prev_lon'] = auth.groupby('user')['lon'].shift(1)
auth['prev_loc'] = auth.groupby('user')['location'].shift(1)

mask = auth['prev_time'].notna()
auth2 = auth[mask].copy()
auth2['dt_hours'] = (auth2['timestamp'] - auth2['prev_time']).dt.total_seconds() / 3600.0
auth2['dist_km'] = auth2.apply(lambda r: haversine_km(r['prev_lat'], r['prev_lon'], r['lat'], r['lon']), axis=1)
auth2['speed_kmh'] = auth2['dist_km'] / auth2['dt_hours'].replace(0, np.nan)

# Flag if speed exceeds 900 km/h (faster than realistic travel between logins)
impossible = auth2[auth2['speed_kmh'] > 900].copy()
impossible[['user','prev_time','prev_loc','timestamp','location','dist_km','dt_hours','speed_kmh']].head(10)

,user,prev_time,prev_loc,timestamp,location,dist_km,dt_hours,speed_kmh
9,admin1,2025-02-14 00:50:00,"Los Angeles, US",2025-02-14 01:29:00,"Frankfurt, DE",9302.605752,0.650000,14311.701158
10,admin1,2025-02-14 01:29:00,"Frankfurt, DE",2025-02-14 01:33:00,"Los Angeles, US",9302.605752,0.066667,139539.086287
49,admin1,2025-02-14 01:33:00,"Los Angeles, US",2025-02-14 02:05:00,"Frankfurt, DE",9302.605752,0.533333,17442.385786
12,alice,2025-02-14 00:53:21,"Los Angeles, US",2025-02-14 01:49:42,"New York, US",3935.218414,0.939167,4190.117211
57,alice,2025-02-14 02:02:11,"New York, US",2025-02-14 02:35:05,"Los Angeles, US",3935.218414,0.548333,7176.690117
65,alice,2025-02-14 02:35:05,"Los Angeles, US",2025-02-14 03:43:16,"New York, US",3935.218414,1.136389,3462.915251
120,alice,2025-02-14 05:47:46,"New York, US",2025-02-14 05:54:59,"Los Angeles, US",3935.218414,0.120278,32717.751250
123,alice,2025-02-14 05:54:59,"Los Angeles, US",2025-02-14 06:10:41,"New York, US",3935.218414,0.261667,15039.051265
185,alice,2025-02-14 10:15:30,"New York, US",2025-02-14 13:56:45,"Los Angeles, US",3935.218414,3.687500,1067.177875
196,alice,2025-02-14 13:56:45,"Los Angeles, US",2025-02-14 15:42:11,"New York, US",3935.218414,1.757222,2239.454045

In [8]:
# Convert impossible travel rows into alerts
for _, r in impossible.iterrows():
    add('IMPOSSIBLE_TRAVEL','HIGH', r['user'], r['ip_address'], r['prev_time'], r['timestamp'],
        evidence=f"{r['prev_loc']} -> {r['location']} in {r['dt_hours']:.2f}h (~{r['speed_kmh']:.0f} km/h)")

alerts_df = pd.DataFrame(alerts)
alerts_df.sort_values(['severity','start_time']).head(20)

,alert_type,severity,user,ip_address,start_time,end_time,evidence
0,BRUTE_FORCE_THEN_SUCCESS,CRITICAL,admin1,185.220.101.1,2025-02-14 01:50:00,2025-02-14 02:00:00,"30 AUTH_FAIL in 10m, then AUTH_SUCCESS within 40m"
2,PRIV_ESC_AFTER_BRUTE_FORCE,CRITICAL,admin1,185.220.101.1,2025-02-14 02:10:00,2025-02-14 02:10:00,"PRIV_ESCALATION at Frankfurt, DE within 30m of..."
1,BRUTE_FORCE_THEN_SUCCESS,CRITICAL,svc_account,198.51.100.77,2025-02-14 04:10:00,2025-02-14 04:20:00,"28 AUTH_FAIL in 10m, then AUTH_SUCCESS within 40m"
3,IMPOSSIBLE_TRAVEL,HIGH,admin1,185.220.101.1,2025-02-14 00:50:00,2025-02-14 01:29:00,"Los Angeles, US -> Frankfurt, DE in 0.65h (~14..."
6,IMPOSSIBLE_TRAVEL,HIGH,alice,104.26.3.2,2025-02-14 00:53:21,2025-02-14 01:49:42,"Los Angeles, US -> New York, US in 0.94h (~419..."
27,IMPOSSIBLE_TRAVEL,HIGH,charlie,104.26.3.2,2025-02-14 01:05:05,2025-02-14 01:11:18,"Los Angeles, US -> New York, US in 0.10h (~379..."
4,IMPOSSIBLE_TRAVEL,HIGH,admin1,192.168.1.10,2025-02-14 01:29:00,2025-02-14 01:33:00,"Frankfurt, DE -> Los Angeles, US in 0.07h (~13..."
5,IMPOSSIBLE_TRAVEL,HIGH,admin1,185.220.101.1,2025-02-14 01:33:00,2025-02-14 02:05:00,"Los Angeles, US -> Frankfurt, DE in 0.53h (~17..."
28,IMPOSSIBLE_TRAVEL,HIGH,charlie,192.168.1.10,2025-02-14 01:52:44,2025-02-14 02:04:15,"New York, US -> Los Angeles, US in 0.19h (~205..."
7,IMPOSSIBLE_TRAVEL,HIGH,alice,192.168.1.10,2025-02-14 02:02:11,2025-02-14 02:35:05,"New York, US -> Los Angeles, US in 0.55h (~717..."
29,IMPOSSIBLE_TRAVEL,HIGH,charlie,104.26.3.2,2025-02-14 02:04:15,2025-02-14 02:16:01,"Los Angeles, US -> New York, US in 0.20h (~200..."
8,IMPOSSIBLE_TRAVEL,HIGH,alice,104.26.3.2,2025-02-14 02:35:05,2025-02-14 03:43:16,"Los Angeles, US -> New York, US in 1.14h (~346..."
41,IMPOSSIBLE_TRAVEL,HIGH,eva,192.168.1.10,2025-02-14 02:35:29,2025-02-14 04:23:34,"New York, US -> Los Angeles, US in 1.80h (~218..."
30,IMPOSSIBLE_TRAVEL,HIGH,charlie,192.168.1.10,2025-02-14 02:55:43,2025-02-14 06:11:20,"New York, US -> Los Angeles, US in 3.26h (~120..."
16,IMPOSSIBLE_TRAVEL,HIGH,bob,192.168.1.10,2025-02-14 03:23:37,2025-02-14 05:33:53,"New York, US -> Los Angeles, US in 2.17h (~181..."
42,IMPOSSIBLE_TRAVEL,HIGH,eva,104.26.3.2,2025-02-14 04:23:34,2025-02-14 05:18:00,"Los Angeles, US -> New York, US in 0.91h (~433..."
9,IMPOSSIBLE_TRAVEL,HIGH,alice,192.168.1.10,2025-02-14 05:47:46,2025-02-14 05:54:59,"New York, US -> Los Angeles, US in 0.12h (~327..."
10,IMPOSSIBLE_TRAVEL,HIGH,alice,104.26.3.2,2025-02-14 05:54:59,2025-02-14 06:10:41,"Los Angeles, US -> New York, US in 0.26h (~150..."
17,IMPOSSIBLE_TRAVEL,HIGH,bob,104.26.3.2,2025-02-14 06:58:25,2025-02-14 08:05:54,"Los Angeles, US -> New York, US in 1.12h (~349..."
18,IMPOSSIBLE_TRAVEL,HIGH,bob,192.168.1.10,2025-02-14 08:09:49,2025-02-14 08:36:22,"New York, US -> Los Angeles, US in 0.44h (~889..."

## 4) Detection D – Data Exfiltration (bytes_out outliers)

In [9]:
# Simple baseline: per-user bytes_out distribution
exports = df[df['event_type'].isin(['DATA_EXPORT','FILE_READ'])].copy()
stats = exports.groupby('user')['bytes_out'].agg(['mean','std','count']).reset_index()
exports = exports.merge(stats, on='user', how='left')
exports['z'] = (exports['bytes_out'] - exports['mean']) / (exports['std'].replace(0, np.nan))
exfil = exports[(exports['event_type']=='DATA_EXPORT') & (exports['z'] > 3)].copy()
exfil[['timestamp','user','ip_address','bytes_out','z']].head(10)

Empty DataFrame
Columns: [timestamp, user, ip_address, bytes_out, z]
Index: []

In [10]:
for _, r in exfil.iterrows():
    add('DATA_EXFIL', 'CRITICAL' if r['z'] > 5 else 'HIGH',
        r['user'], r['ip_address'],
        r['timestamp'], r['timestamp'],
        evidence=f"bytes_out={r['bytes_out']:,} (z={r['z']:.2f}) via {r['event_type']}")

pd.DataFrame(alerts).tail()

,alert_type,severity,user,ip_address,start_time,end_time,evidence
46,IMPOSSIBLE_TRAVEL,HIGH,eva,104.26.3.2,2025-02-14 20:36:17,2025-02-14 21:01:14,"Los Angeles, US -> New York, US in 0.42h (~946..."
47,IMPOSSIBLE_TRAVEL,HIGH,eva,192.168.1.10,2025-02-14 21:01:14,2025-02-14 21:25:10,"New York, US -> Los Angeles, US in 0.40h (~986..."
48,IMPOSSIBLE_TRAVEL,HIGH,eva,104.26.3.2,2025-02-14 21:25:10,2025-02-14 22:04:17,"Los Angeles, US -> New York, US in 0.65h (~603..."
49,IMPOSSIBLE_TRAVEL,HIGH,eva,192.168.1.10,2025-02-14 22:04:17,2025-02-14 22:10:40,"New York, US -> Los Angeles, US in 0.11h (~369..."
50,IMPOSSIBLE_TRAVEL,HIGH,eva,104.26.3.2,2025-02-14 22:10:40,2025-02-14 22:49:09,"Los Angeles, US -> New York, US in 0.64h (~613..."

## 5) Export + SOC Narrative

In [11]:
alerts_df = pd.DataFrame(alerts)
alerts_df = alerts_df.sort_values(['severity','start_time'], ascending=[True,True])
alerts_df.to_csv(r'C:/Users/kayro/jupyter/Assignments/SOC_Level_Version/soc_alerts.csv', index=False)
alerts_df

,alert_type,severity,user,ip_address,start_time,end_time,evidence
0,BRUTE_FORCE_THEN_SUCCESS,CRITICAL,admin1,185.220.101.1,2025-02-14 01:50:00,2025-02-14 02:00:00,"30 AUTH_FAIL in 10m, then AUTH_SUCCESS within 40m"
2,PRIV_ESC_AFTER_BRUTE_FORCE,CRITICAL,admin1,185.220.101.1,2025-02-14 02:10:00,2025-02-14 02:10:00,"PRIV_ESCALATION at Frankfurt, DE within 30m of..."
1,BRUTE_FORCE_THEN_SUCCESS,CRITICAL,svc_account,198.51.100.77,2025-02-14 04:10:00,2025-02-14 04:20:00,"28 AUTH_FAIL in 10m, then AUTH_SUCCESS within 40m"
3,IMPOSSIBLE_TRAVEL,HIGH,admin1,185.220.101.1,2025-02-14 00:50:00,2025-02-14 01:29:00,"Los Angeles, US -> Frankfurt, DE in 0.65h (~14..."
6,IMPOSSIBLE_TRAVEL,HIGH,alice,104.26.3.2,2025-02-14 00:53:21,2025-02-14 01:49:42,"Los Angeles, US -> New York, US in 0.94h (~419..."
27,IMPOSSIBLE_TRAVEL,HIGH,charlie,104.26.3.2,2025-02-14 01:05:05,2025-02-14 01:11:18,"Los Angeles, US -> New York, US in 0.10h (~379..."
4,IMPOSSIBLE_TRAVEL,HIGH,admin1,192.168.1.10,2025-02-14 01:29:00,2025-02-14 01:33:00,"Frankfurt, DE -> Los Angeles, US in 0.07h (~13..."
5,IMPOSSIBLE_TRAVEL,HIGH,admin1,185.220.101.1,2025-02-14 01:33:00,2025-02-14 02:05:00,"Los Angeles, US -> Frankfurt, DE in 0.53h (~17..."
28,IMPOSSIBLE_TRAVEL,HIGH,charlie,192.168.1.10,2025-02-14 01:52:44,2025-02-14 02:04:15,"New York, US -> Los Angeles, US in 0.19h (~205..."
7,IMPOSSIBLE_TRAVEL,HIGH,alice,192.168.1.10,2025-02-14 02:02:11,2025-02-14 02:35:05,"New York, US -> Los Angeles, US in 0.55h (~717..."
29,IMPOSSIBLE_TRAVEL,HIGH,charlie,104.26.3.2,2025-02-14 02:04:15,2025-02-14 02:16:01,"Los Angeles, US -> New York, US in 0.20h (~200..."
8,IMPOSSIBLE_TRAVEL,HIGH,alice,104.26.3.2,2025-02-14 02:35:05,2025-02-14 03:43:16,"Los Angeles, US -> New York, US in 1.14h (~346..."
41,IMPOSSIBLE_TRAVEL,HIGH,eva,192.168.1.10,2025-02-14 02:35:29,2025-02-14 04:23:34,"New York, US -> Los Angeles, US in 1.80h (~218..."
30,IMPOSSIBLE_TRAVEL,HIGH,charlie,192.168.1.10,2025-02-14 02:55:43,2025-02-14 06:11:20,"New York, US -> Los Angeles, US in 3.26h (~120..."
16,IMPOSSIBLE_TRAVEL,HIGH,bob,192.168.1.10,2025-02-14 03:23:37,2025-02-14 05:33:53,"New York, US -> Los Angeles, US in 2.17h (~181..."
42,IMPOSSIBLE_TRAVEL,HIGH,eva,104.26.3.2,2025-02-14 04:23:34,2025-02-14 05:18:00,"Los Angeles, US -> New York, US in 0.91h (~433..."
9,IMPOSSIBLE_TRAVEL,HIGH,alice,192.168.1.10,2025-02-14 05:47:46,2025-02-14 05:54:59,"New York, US -> Los Angeles, US in 0.12h (~327..."
10,IMPOSSIBLE_TRAVEL,HIGH,alice,104.26.3.2,2025-02-14 05:54:59,2025-02-14 06:10:41,"Los Angeles, US -> New York, US in 0.26h (~150..."
17,IMPOSSIBLE_TRAVEL,HIGH,bob,104.26.3.2,2025-02-14 06:58:25,2025-02-14 08:05:54,"Los Angeles, US -> New York, US in 1.12h (~349..."
18,IMPOSSIBLE_TRAVEL,HIGH,bob,192.168.1.10,2025-02-14 08:09:49,2025-02-14 08:36:22,"New York, US -> Los Angeles, US in 0.44h (~889..."
31,IMPOSSIBLE_TRAVEL,HIGH,charlie,104.26.3.2,2025-02-14 09:01:33,2025-02-14 09:26:12,"Los Angeles, US -> New York, US in 0.41h (~957..."
32,IMPOSSIBLE_TRAVEL,HIGH,charlie,192.168.1.10,2025-02-14 09:26:12,2025-02-14 09:38:38,"New York, US -> Los Angeles, US in 0.21h (~189..."
19,IMPOSSIBLE_TRAVEL,HIGH,bob,104.26.3.2,2025-02-14 10:00:48,2025-02-14 10:26:46,"Los Angeles, US -> New York, US in 0.43h (~909..."
11,IMPOSSIBLE_TRAVEL,HIGH,alice,192.168.1.10,2025-02-14 10:15:30,2025-02-14 13:56:45,"New York, US -> Los Angeles, US in 3.69h (~106..."
20,IMPOSSIBLE_TRAVEL,HIGH,bob,192.168.1.10,2025-02-14 11:50:00,2025-02-14 12:01:49,"New York, US -> Los Angeles, US in 0.20h (~199..."
43,IMPOSSIBLE_TRAVEL,HIGH,eva,192.168.1.10,2025-02-14 11:55:06,2025-02-14 12:42:25,"New York, US -> Los Angeles, US in 0.79h (~499..."
21,IMPOSSIBLE_TRAVEL,HIGH,bob,104.26.3.2,2025-02-14 12:01:49,2025-02-14 12:23:07,"Los Angeles, US -> New York, US in 0.35h (~110..."
33,IMPOSSIBLE_TRAVEL,HIGH,charlie,104.26.3.2,2025-02-14 13:46:55,2025-02-14 14:34:48,"Los Angeles, US -> New York, US in 0.80h (~493..."
12,IMPOSSIBLE_TRAVEL,HIGH,alice,104.26.3.2,2025-02-14 13:56:45,2025-02-14 15:42:11,"Los Angeles, US -> New York, US in 1.76h (~223..."
34,IMPOSSIBLE_TRAVEL,HIGH,charlie,192.168.1.10,2025-02-14 14:34:48,2025-02-14 15:51:20,"New York, US -> Los Angeles, US in 1.28h (~308..."
35,IMPOSSIBLE_TRAVEL,HIGH,charlie,104.26.3.2,2025-02-14 15:51:20,2025-02-14 16:19:03,"Los Angeles, US -> New York, US in 0.46h (~851..."
36,IMPOSSIBLE_TRAVEL,HIGH,charlie,192.168.1.10,2025-02-14 16:19:03,2025-02-14 16:31:10,"New York, US -> Los Angeles, US in 0.20h (~194..."
37,IMPOSSIBLE_TRAVEL,HIGH,charlie,104.26.3.2,2025-02-14 16:48:35,2025-02-14 17:00:13,"Los Angeles, US -> New York, US in 0.19h (~202..."
38,IMPOSSIBLE_TRAVEL,HIGH,charlie,192.168.1.10,2025-02-14 17:00:13,2025-02-14 17:01:01,"New York, US -> Los Angeles, US in 0.01h (~295..."
13,IMPOSSIBLE_TRAVEL,HIGH,alice,192.168.1.10,2025-02-14 17:54:11,2025-02-14 19:51:22,"New York, US -> Los Angeles, US in 1.95h (~201..."
22,IMPOSSIBLE_TRAVEL,HIGH,bob,192.168.1.10,2025-02-14 17:54:14,2025-02-14 19:34:28,"New York, US -> Los Angeles, US in 1.67h (~235..."
39,IMPOSSIBLE_TRAVEL,HIGH,charlie,104.26.3.2,2025-02-14 19:23:42,2025-02-14 20:08:32,"Los Angeles, US -> New York, US in 0.75h (~526..."
44,IMPOSSIBLE_TRAVEL,HIGH,eva,104.26.3.2,2025-02-14 19:26:50,2025-02-14 19:39:58,"Los Angeles, US -> New York, US in 0.22h (~179..."
45,IMPOSSIBLE_TRAVEL,HIGH,eva,192.168.1.10,2025-02-14 19:39:58,2025-02-14 20:36:17,"New York, US -> Los Angeles, US in 0.94h (~419..."
14,IMPOSSIBLE_TRAVEL,HIGH,alice,104.26.3.2,2025-02-14 19:51:22,2025-02-14 20:04:15,"Los Angeles, US -> New York, US in 0.21h (~183..."
23,IMPOSSIBLE_TRAVEL,HIGH,bob,104.26.3.2,2025-02-14 19:51:51,2025-02-14 20:02:12,"Los Angeles, US -> New York, US in 0.17h (~228..."
24,IMPOSSIBLE_TRAVEL,HIGH,bob,192.168.1.10,2025-02-14 20:02:12,2025-02-14 20:39:24,"New York, US -> Los Angeles, US in 0.62h (~634..."
15,IMPOSSIBLE_TRAVEL,HIGH,alice,192.168.1.10,2025-02-14 20:04:15,2025-02-14 20:26:03,"New York, US -> Los Angeles, US in 0.36h (~108..."
46,IMPOSSIBLE_TRAVEL,HIGH,eva,104.26.3.2,2025-02-14 20:36:17,2025-02-14 21:01:14,"Los Angeles, US -> New York, US in 0.42h (~946..."
25,IMPOSSIBLE_TRAVEL,HIGH,bob,104.26.3.2,2025-02-14 20:39:24,2025-02-14 20:58:49,"Los Angeles, US -> New York, US in 0.32h (~121..."
40,IMPOSSIBLE_TRAVEL,HIGH,charlie,192.168.1.10,2025-02-14 20:42:11,2025-02-14 22:28:51,"New York, US -> Los Angeles, US in 1.78h (~221..."
47,IMPOSSIBLE_TRAVEL,HIGH,eva,192.168.1.10,2025-02-14 21:01:14,2025-02-14 21:25:10,"New York, US -> Los Angeles, US in 0.40h (~986..."
48,IMPOSSIBLE_TRAVEL,HIGH,eva,104.26.3.2,2025-02-14 21:25:10,2025-02-14 22:04:17,"Los Angeles, US -> New York, US in 0.65h (~603..."
26,IMPOSSIBLE_TRAVEL,HIGH,bob,192.168.1.10,2025-02-14 21:33:00,2025-02-14 22:46:27,"New York, US -> Los Angeles, US in 1.22h (~321..."
49,IMPOSSIBLE_TRAVEL,HIGH,eva,192.168.1.10,2025-02-14 22:04:17,2025-02-14 22:10:40,"New York, US -> Los Angeles, US in 0.11h (~369..."
50,IMPOSSIBLE_TRAVEL,HIGH,eva,104.26.3.2,2025-02-14 22:10:40,2025-02-14 22:49:09,"Los Angeles, US -> New York, US in 0.64h (~613..."

### SOC Analyst Narrative (required)
Write a short narrative (8–12 bullets):
1. **Timeline**: What happened first → next → last?
2. **Most severe alert** and why
3. **Evidence** (counts, windows, IPs, locations)
4. **Likely attack type** (e.g., credential stuffing, account takeover)
5. **Recommended response actions** (containment + investigation)